.about-section {
    background-color: rgb(0, 0, 0);
    padding: 50px 20px;
    text-align: center;
}

.about-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(144, 140, 140);
    margin-bottom: 20px;
}

.about-description {
    border: white solid 1px;
    padding: 50px;
    font-size: 2rem;
    line-height: 1.8;
    max-width: 1000px;
    text-align: left;
    margin: 0 auto;
    color: rgb(161, 158, 158);
}

.highlight {
    color: orange;
    font-weight: bold;
}

@media (max-width:768px) {
    .about-description {
        font-size: 1rem;
    }
}